.container-fluid {
    padding-top: 25px;
    padding-bottom: 25px;
}
.bg-1 { 
    background-color: #A9A9A9; /* Gray */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.navbar-brand{
    font-size: 27px;
    letter-spacing: 3px;
}
.first-h3 {
    margin:0px;
}
.img-main{
    margin:40px;
    width:128px;
    height:128px;
}
.shopping-list{
    font-size: 16px;
    text-align: left;
}
body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
h3{
    margin-top: 0px;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
}
img {
    color:#FFFFFF
}
footer p{
    font-size: 14px;
}